<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html";
charset=UTF-8"/>
<meta name="keywords" content="test, site, website"/>
<meta name="description"content="Proba"/>
<link href="../../../resources/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/image/cicon.ico" rel="shortcut icon" type="image/x-icon"/>
<title>Cyber Club</title>
</head>
<body>
<header>
<a href="index.jsp" title="Главное меню" id="logo">Cyber Club</a><span class="contact">
<a href="about.jsp" title="Информация о нас"> О нас</a></span>
<input type="text"class="field"placeholder="Поиск"/><span class="right"><span class="contact">
<a href="reg.html" title="Присоединись">Регистрация</a></span>
<span class="contact"><a href="auth.html" title="Enter">Вход</a></span></span>
</header>
<div class="clear"><br/></div>
<center>
<div id="menu"> Разделы<hr/></div>
<div id="menuHrefs">
	<a href="price.jsp">Цены</a>
	<a href="workday.jsp">Режим работы</a>
	<a href="map.jsp">Карта проезда</a>
	<a href="tournaments.html">Турниры</a>
</div>
</center>
<div id="wrapper">
	<div id="articles">
		<article>
		<img src="../../../resources/image/pc.jpg" alt="Изображение" title="Изображение"/>
		<h2>Лучшие игровые компьютеры теперь в специальной зоне нашего клуба!</h2>
		<p>Конфигурация компьютеров:
		<p>Процессор — Intel iCore i5  с частотой до 4.5 ГГц</p>
		<p>Память — 8Гб DDR3 2400МГц</p>
		<p>Материнская плата ASUS Z87-DELUXE</p> 
		<p>Видеокарта ASUS GeForce GTX780 3Гб GDDR5</p>
		<p>SSD Kingston</p>
		<p>HDD WD Black 2Тб</p>
		<p>Монитор Asus VG248QE 3D c частотой развертки 144МГц (!) и временем отклика — 1мс!<p>
		<p>Клавиатура Asus Echelon<p>
		<p>Мышь Asus Echelon Laser</p>
		<p>Наушники Asus ROG Orion Pro Gaming Headset</p></p>
		</article>
		<article>
		<img src="../../../resources/image/helpa.jpg" alt="Изображение" title="Изображение"/>
		<h2>Мы организуем для вас любой турнир!</h2>
		<p>Мы организовали сотни турниров в том числе и всеукраинского уровня и потому вправе
		 считать себя самыми опытными в этом деле. 
		Мы проводили турниры для таких брендов, как Samsung, ASUS,
		 PEPSI, Kingston HyperX, DXRacer, NVIDIA, Geill, MSI, Palit, ASRock, SteerSeries,
		 Logitech, Aerocool, Razer, Зона 51, Prestigio, Garena, Riot, NaVi, WCG, Antec, Rozetka,
		 Genius и многих других.
		Если вам нужно организовать яркий молодежный турнир по самому трендовому спорту
		 нового тысячелетия - мы проведем для вас турниры по самым 
		популярным киберспортивным дисциплинам!
		Это можно сделать у нас в клубе, а можно сделать на выставке, в торговом центре, да в любом месте. 
		От других организаторов нас отличает не только огромный опыт
		 и профессиональный подход, но и начилие собственной качественной 
		техники и информационного портала, посвященного киберспорту и наиболее 
		популярного в Украине  </p>
		</article>
		<article>
		<img src="../../../resources/image/lifezone.jpg" alt="Изображение" title="Изображение"/>
		<h2>LifeZone - место, где идеи становятся реальностью!</h2>
		<p>LifeZone - это свободное пространство внутри клуба, где перед вами открываются безграничные возможности для развлечений,
		 творчества и обретения новых эмоций.
		Вот несколько простых идей для тебя и твоих друзей:
		<p>1. Устрой чемпионат своего офиса или просто сразись с друзьями в Кикер (настольный футбол). 
		У нас в клубе стоит профессиональный стол, именно на таком играют на Чемпионатах Мира по кикеру.</p>
		<p>2. Здесь же можно сразиться и в виртуальный футбол на самых современных игровых
		 консолях PlayStation 4 и XBOX. </p>
		<p>3. Очень круто играть на большом экране, ощущения, как в кино! 
		Отличную картинку обеспечивает FullHD проектор. Играй на полную!</p> 
		<p>4. Если вы занимаетесь тренингами, организовываете курсы или 
		мастер-классы мы можем предоставить отличные условия для вас.</p>
		 </p>
		</article>
	</div>
	<div class="clear">
	<div id="main_soc_block">
	<center>
		<div id="main_soc_block_in">
			<h3>Приобрети боевой пропуск!<h3>
			<p> Смотри The International вместе с нами!<p>
			<a href="buyin.html" title="Купить">Купить</a>
		</div>
	</center>
	</div>
<div class="clear"><br/></div>
<div id="articles">
		<article>
			<img src="../../../resources/image/wegame.jpg" alt="Изображение" title="Изображение"/>
			<h2>Мы на выставке weGame 2017!</h2> 
			<p>В Киеве впервые за долгое время состоялась выставка цифровых технологий и игровых развлечений, 
			собравшая геймеров, киберспортсменов и косплееров. На протяжении двух дней
			 в помещениях НСК Олимпийский прошло несколько турниров и конкурсов 
			которые посетили тысячи участников и зрителей. 
			Совместно с всемирно известной командой NaVi на нашем стенде было проведено
			 более 10 турниров по CS:GO в формате 2х2 и 1х1. Была разыграна гора экипировки NaVi.
			 Кроме этого все участники получили подарочные сертификаты на игру в Cyber Club и LifeZone.</p>
			
		</article>
			
		<article>
			<img src="../../../resources/image/csgo.jpg" alt="Изображение" title="Изображение"/>
			<h2>Турнир по CS:GO</h2>
			<p>Успей подать заявку!</p>
			<a href="regtour.html" title="Подать заявку">Подать заявку</a>
		</article>
		<article>
			<img src="../../../resources/image/Kiev.jpg" alt="Изображение" title="Изображение"/>
			<h2>The Kiev Major 2017</h2>
			<p>Смотри прямую трансляцию вместе с нами!</p>
			<a href="channel.html" title="Канал на twich">Перейти на канал</a>
		</article>
	</div>
</div>
</div>
<footer>
<span class="left">Все права защищены &copy; 2017</span>
<span class="right"><img src="../../../resources/image/facebook.jpg" alt="Группа Facebook" title="Группа Facebook"/></span>
<span class="right"><img src="../../../resources/image/twit.jpg" alt="Группа Twitter" title="Мы в Twitter"/></span>
</footer>
</body>
</html>