<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html";
charset=UTF-8"/>
<meta name="keywords" content="test, site, website"/>
<meta name="description"content="Proba"/>
<link href="../../../resources/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/image/cicon.ico" rel="shortcut icon" type="image/x-icon"/>
<title>Cyber Club</title>
</head>
<body>
<header>
<a href="index.jsp" title="Главное меню" id="logo">Cyber Club</a><span class="contact">
<a href="about.jsp" title="Информация о нас"> О нас</a></span>
<input type="text"class="field"placeholder="Поиск"/><span class="right"><span class="contact">
<a href="reg.html" title="Присоединись">Регистрация</a></span>
<span class="contact"><a href="auth.html" title="Enter">Вход</a></span></span>
</header>
<div class="clear"><br/></div>
<center>
<div id="menu"> Разделы<hr/></div>
<div id="menuHrefs">
	<a href="price.jsp">Цены</a>
	<a href="workday.jsp">Режим работы</a>
	<a href="map.jsp">Карта проезда</a>
	<a href="tournaments.html">Турниры</a>
</div>
</center>
<div id="wrapper">
	<div id="articles">
		<article>
		<img src="../../../resources/image/enix.jpg" alt="Изображение" title="Изображение"/>
		<h2>Enix Cup 2017</h2>
		<p> У нас в клубе состоялось знаковое событие!
		 Уже шестой по счету ежегодный турнир памяти Сергея Литвиненко Enix Cup 2017.
		Этот турнир особенный тем, что проходит по народной игре Counter-Strike 1.6,
		 в этом году состоялось сразу два турнира - открытый для всех желающих
		 и закрытый для геймеров 25+ фактически тех, кто стоял у истоков киберспорта
		 в нашей стране. В сумме Enix Cup 2017 собрал более 150 участников.
		 Это было незабываемое событие!</p>
		</article>
		<article>
		<img src="../../../resources/image/hon.jpg" alt="Изображение" title="Изображение"/>
		<h2>HoN 3.0 Global Lan Party</h2>
		<p>29.01.2018 в Cyber Club состоялась презентация HoN 3.0 - обновления популярной игры
		 жанра MMO RPG. В рамках HoN 3.0 Global Lan Party
		 разработчики устроили настоящий праздник для украинских фанатов игры!
		 В течение вечера в переполненном клубе Cyber Club состоялось
		 множество турниров и розыгрышей, без призов не остался ни кто. 
		Апофеозом праздника стал великолепный торт.
		Клуб был забит до отказа фанатами HoN и это был настоящий праздник! </p>
		</article>
		<article>
		<img src="../../../resources/image/gx.jpg" alt="Изображение" title="Изображение"/>
		<h2>Genius GX Gaming Cup 2018</h2>
		<p>2 января у нас в клубе состоялся крупнейший за последний год турнир по Counter-Strike 1.6 
		Турнир собрал 210 участников и многочисленных болельщиков. 
		Все, кто кричал, что CS 1.6 умер смогли воочию убедиться, что любимая игра миллионов
		 живее всех живых. Огромное количество участников турнира со всех концов Украины
		 и лояльная система проведения привели к тому, что турнир затянулся до 4-х часов ночи! 
		Тем не менее недовольных небыло, ведь давно уже киберспортсмены так не отрывались на лане.
		 Наградой лучшим стали шикарные призы от компании Genius в таком количестве,
		 что просто не умещались в руках у призеров.</p>
		</article>
	</div>
	<div class="clear">
	<div id="main_soc_block">
	<center>
		<div id="main_soc_block_in">
			<h3>Приобрети боевой пропуск!<h3>
			<p> Смотри The International вместе с нами!<p>
			<a href="buyin.html" title="Купить">Купить</a>
		</div>
	</center>
	</div>
<div class="clear"><br/></div>
<div id="articles">
		<article>
			<img src="../../../resources/image/cslan.png" alt="Изображение" title="Изображение"/>
			<h2>Cyber Club CS:GO 2×2 LAN-Party</h2> 
			<p>В честь открытия новой PRO зоны для продвинутых геймеров и киберспортсменов мы проведем грандиозный турнир по CS:GO 2x2 с призовым фондом 25000 гривен!
			Победители турнира получат:
			<p>1 место — Team 45: arch, crush - два комплекта клавиатура Echelon + наушники Echelon</p>
			<p>2 место — Team 29: perfect, sergiz — две пары наушников STRIX 2.0</p>
			<p>3 место — Team 25: teddy, sdy -  две мышки STRIX Claw </p></p>
			
		</article>
			
		<article>
			<img src="../../../resources/image/csgo.jpg" alt="Изображение" title="Изображение"/>
			<h2>Турнир по CS:GO</h2>
			<p>Успей подать заявку!</p>
			<a href="regtour.html" title="Подать заявку">Подать заявку</a>
		</article>
		<article>
			<img src="../../../resources/image/Kiev.jpg" alt="Изображение" title="Изображение"/>
			<h2>The Kiev Major 2017</h2>
			<p>Смотри прямую трансляцию вместе с нами!</p>
			<a href="channel.html" title="Канал на twich">Перейти на канал</a>
		</article>
	</div>
</div>
</div>
<footer>
<span class="left">Все права защищены &copy; 2017</span>
<span class="right"><img src="../../../resources/image/facebook.jpg" alt="Группа Facebook" title="Группа Facebook"/></span>
<span class="right"><img src="../../../resources/image/twit.jpg" alt="Группа Twitter" title="Мы в Twitter"/></span>
</footer>
</body>
</html>