<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html";
charset=UTF-8"/>
<meta name="keywords" content="test, site, website"/>
<meta name="description"content="Proba"/>
<link href="../../../resources/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/image/cicon.ico" rel="shortcut icon" type="image/x-icon"/>
<title>Cyber Club</title>
</head>
<body>
<header>
<a href="index.jsp" title="Главное меню" id="logo">Cyber Club</a><span class="contact">
<a href="about.jsp" title="Информация о нас"> О нас</a></span>
<input type="text"class="field"placeholder="Поиск"/><span class="right"><span class="contact">
<a href="reg.html" title="Присоединись">Регистрация</a></span>
<span class="contact"><a href="auth.html" title="Enter">Вход</a></span></span>
</header>
<div class="clear"><br/></div>
<center>
<div id="menu"> Разделы<hr/></div>
<div id="menuHrefs">
	<a href="price.jsp">Цены</a>
	<a href="workday.jsp">Режим работы</a>
	<a href="map.jsp">Карта проезда</a>
	<a href="tournaments.html">Турниры</a>
</div>
</center>
<div id="wrapper">
	<div id="articles">
		<article>
		<img src="../../../resources/image/quakelive.jpg" alt="Изображение" title="Изображение"/>
		<h2>SWS® QuakeLive CUP 2017</h2>
		<p>С развитием интернета игроки в легендарный Quake редко собираются на лане, 
		 а если это и происходит, то в легендарном и знаковом для квейка месте,
		 где много лет назад тренировались легенды и проходили самые значимые турниры.
		 Конечно мы говорим о нашем клубе Cyber Club.
		28 ноября в клубе состоялся настоящий фестиваль квейка. 
		За два дня соревнований участники попробовали себя и в деэлях и в FFA и даже в Clan Arena. 
		Турнир собрал лучших игроков страны и привлек
		 даже иностранных гостей - помериться силами приехали геймеры Москвы и Урала!
		Ценные призы и потрясающие кубки победителям дарила команда SWS.
		 Турниры по квейку обещают стать регулярными в нашем клубе, следите за анонсами.</p>
		</article>
		<article>
		<img src="../../../resources/image/narod.jpg" alt="Изображение" title="Изображение"/>
		<h2>HTC VIVE VR и PlayStation VR в клубе!</h2>
		<p>Теперь у нас в клубе можно с головой погрузиться в виртуальную реальность! 
		Играй в PlayStation VR или HTC VIVE VR в самые потрясающие реалистичные игры 
		сам или в компании друзей. Два топовых шлема виртуальной реальности позволят
		 тебе погрузиться в уникальные виртуальные миры, покорить океаны, 
		пронестись над планетой и очутиться в любом уголке Земли, сразиться с пришельцами, 
		сыграть в трехмерные квесты и головоломки, в общем сделать шаг в новые неизведанные
		 вселенные с невиданой ранее реалистичностью ощущений!</p>
		</article>
		<article>
		<img src="../../../resources/image/female.jpg" alt="Изображение" title="Изображение"/>
		<h2>CGAMES FEMALE CUP - DoTA2</h2>
		<p>1-го декабря в  Cyber Club состоится первый лановый турнир по DoTA2 среди девушек. 
		Чемпионат будет проходить при поддержке 
		компании SteelSeries. На турнире ожидаются сильнейшие женские коллективы со всего СНГ.</p>
		</article>
	</div>
	<div class="clear">
	<div id="main_soc_block">
	<center>
		<div id="main_soc_block_in">
			<h3>Приобрети боевой пропуск!<h3>
			<p> Смотри The International вместе с нами!<p>
			<a href="buyin.html" title="Купить">Купить</a>
		</div>
	</center>
	</div>
<div class="clear"><br/></div>
<div id="articles">
		<article>
			<img src="../../../resources/image/prosto.jpg" alt="Изображение" title="Изображение"/>
			<h2>Презентация формы pro100</h2> 
			<p>15 декабря 2017 года у нас в клубе состоялась презентация возрожденной команды pro100, 
			в которой принял участие легендарный капитан Даниил Zeus Тесленко. 
			Зевс и команда рассказали о планах команды, ответили на вопросы, 
			раздали афтографы и сфотографировались с фанатами. Зал был переполен,
			 получился настоящий праздник, который надолго запомнится всем присутствовавшим. </p>
			
		</article>
			
		<article>
			<img src="../../../resources/image/csgo.jpg" alt="Изображение" title="Изображение"/>
			<h2>Турнир по CS:GO</h2>
			<p>Успей подать заявку!</p>
			<a href="regtour.html" title="Подать заявку">Подать заявку</a>
		</article>
		<article>
			<img src="../../../resources/image/Kiev.jpg" alt="Изображение" title="Изображение"/>
			<h2>The Kiev Major 2017</h2>
			<p>Смотри прямую трансляцию вместе с нами!</p>
			<a href="channel.html" title="Канал на twich">Перейти на канал</a>
		</article>
	</div>
</div>
</div>
<footer>
<span class="left">Все права защищены &copy; 2017</span>
<span class="right"><img src="../../../resources/image/facebook.jpg" alt="Группа Facebook" title="Группа Facebook"/></span>
<span class="right"><img src="../../../resources/image/twit.jpg" alt="Группа Twitter" title="Мы в Twitter"/></span>
</footer>
</body>
</html>