<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html";
charset=UTF-8"/>
<meta name="keywords" content="test, site, website"/>
<meta name="description"content="Proba"/>
<link href="../../../resources/css/style.css" rel="stylesheet" type="text/css"/>
<link href="../../../resources/image/cicon.ico" rel="shortcut icon" type="image/x-icon"/>
<title>Cyber Club</title>
</head>
<body>
<header>
<a href="index.jsp" title="Главное меню" id="logo">Cyber Club</a><span class="contact">
<a href="about.jsp" title="Информация о нас"> О нас</a></span>
<input type="text"class="field"placeholder="Поиск"/><span class="right"><span class="contact">
<a href="reg.html" title="Присоединись">Регистрация</a></span>
<span class="contact"><a href="auth.html" title="Enter">Вход</a></span></span>
</header>
<div class="clear"><br/></div>
<center>
<div id="menu"> Разделы<hr/></div>
<div id="menuHrefs">
	<a href="price.jsp">Цены</a>
	<a href="workday.jsp">Режим работы</a>
	<a href="map.jsp">Карта проезда</a>
	<a href="tournaments.html">Турниры</a>
</div>
</center>
<div id="wrapper">
	<div id="articles">
		<form action="" method="post">
			
			<label for="subject">Логин</label>
			<input type="text"id="subject"name="subject"placeholder="Логин"/>
			<label for="email">Email</label>
			<input type="email"id="email"name="email"placeholder="adress@example.com"/>
			<label for="name">Ф.И.О</label>
			<input type="text"id="name"name="name"placeholder="Ф.И.О"/>
			<label for="name">Дата рождения</label>
			<input type="text"id="birthday"name="birthday"placeholder="XX.XX.XX"/>
			<label for="name">Пароль</label>
			<input type="text"id="qwerty"name="qwerty"placeholder="Не мение 5 символов"/>
			<label for="name">Повторите пароль</label>
			<input type="text"id="qwerty"name="qwerty"placeholder="Пароль"/>		
			<label for="message">О себе</label>
			<textarea placeholder="О себе"id="message"name="message"></textarea>
			<input type="submit"value="Зарегистрироваться"id="send"name="send"/>
			
		</form>
	</div>
</div>
</div>
<footer>
<span class="left">Все права защищены &copy; 2017</span>
<span class="right"><img src="../../../resources/image/facebook.jpg" alt="Группа Facebook" title="Группа Facebook"/></span>
<span class="right"><img src="../../../resources/image/twit.jpg" alt="Группа Twitter" title="Мы в Twitter"/></span>
</footer>
</body>
</html>