<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8"/>
    <meta name="keywords" content="test, site, website"/>
    <meta name="description"content="Proba"/>
    <link href="front/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="front/image/cicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <title>Cyber Club</title>
</head>
<body>
    <header>
        <a href="/" title="Главное меню" id="logo">Cyber Club</a><span class="contact">
		<a href="/about" title="Информация о нас"> О нас</a></span>
        <input type="text" class="field" placeholder="Поиск"/><span class="right"><span class="contact">
		<a href="reg.html" title="Присоединись">Регистрация</a></span>
		<span class="contact"><a href="auth.html" title="Enter">Вход</a></span></span>
    </header>
<div class="clear"><br/></div>
<center>
    <div id="menu"> Разделы
        <hr/>
    </div>
    <div id="menuHrefs">
        <a href="/prices">Цены</a>
        <a href="/workHours">Режим работы</a>
        <a href="/howToFind">Карта проезда</a>
        <a href="/tournaments">Турниры</a>
    </div>
</center>
<div id="wrapper">
    <div id="articles">
        <div id="mapka">
            <article>
                <img src="front/image/csgo.jpg" alt="Изображение" title="Изображение"/>
                <h2>Турнир по CS GO</h2>
                <p>Успей подать заявку!</p>
                <p><a href="regtour.html" title="Подать заявку">Подать заявку</a></p>
                <p>Мы находимся в самом центре Киева по адресу Бессарабская площадь, 2 ТРК Метроград, квартал
                    развлечений, минус 2-й этаж.
                    Клуб расположен в подземном торговом комплексе прямо перед Бессарабским рынком.
                    Спуститесь под купол ТРК Метроград, затем спуститесь еще на один этаж
                    ниже и вы попадете к фонтану, с одной стороны от которого расположена ресторанная зона, а с другой
                    наше интернет-кафе.
                    Добраться до нас можно любой из трех веток метро.
                    Ближайшие станции: ст. Площадь Льва Толстого, ст. Театральная, ст. Крещатик,
                    ст. Майдан Незалежности.</p>
            </article>
            <img src="front/image/csuspeh.jpg" alt="Изображение" title="Изображение"/>
        </div>
        <div class="clear">
            <div id="main_soc_block">
                <center>
                    <div id="main_soc_block_in">
                        <h3>Приобрети боевой пропуск!</h3>
                                <p> Смотри The International вместе с нами!</p>
                                    <a href="buyin.html" title="Купить">Купить</a>
                    </div>
                </center>
            </div>
            <div class="clear"><br/></div>
        </div>
    </div>
</div>
<footer>
    <span class="left">Все права защищены &copy; 2017</span>
    <span class="right"><img src="front/image/facebook.jpg" alt="Группа Facebook" title="Группа Facebook"/></span>
    <span class="right"><img src="front/image/twit.jpg" alt="Группа Twitter" title="Мы в Twitter"/></span>
</footer>
</body>
</html>